# HomeBrew
Brewfile.lock.json

# Git
git/.config/git/**/*
!git/.config/git/config
!git/.config/git/ignore
!git/.config/git/allowed_signers

# Mac
.DS_Store

# karabiner-elementsのバックアップファイル
karabiner/.config/karabiner/automatic_backups/

# Hammerspoonのサードパーティ製Spoon(インストール生成物)
hammerspoon/.hammerspoon/Spoons/*
!hammerspoon/.hammerspoon/Spoons/.gitkeep